* {
    background-color:rgb(58, 67, 75);
    padding: 5px;
}

    .bnt-link {
        padding: 10px 10px;
        margin: 10px;
        width: 300px;
        color:white;
        background:rgb(41, 41, 41);
        border: 4px solid #ffffff;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        font-family: sans-serif;
    }

    .bnt-link:hover {
        background:rgb(51, 51, 51);
        transition: background 10ms;
        color: white;
                    }

h1 {
    color: white;
    background-color: rgb(41, 41, 41);
    font-size:60px;
    text-align: center;
    border:4px solid white;
    border-radius: 9px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    font-family: sans-serif;
    }

p {
    color:white;
    text-align: center;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgb(41, 41, 41);
    border:4px solid #ffffff;
    border-radius: 9px;
    box-shadow: 10px 100px 100px rgba(0, 0, 0, 0.25);
    }

#botao {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 350px;
    grid-template-areas: "box-1 box-2 box-3"     
                         "box-4 box-5 box-6";
    grid-gap: 25px;
            }

#box-1 {
    grid-area: box-1;
}

#box-2 {
    grid-area: box-2;
}
    
#box-3 {
    grid-area: box-3;
}
    
#box-4 {
    grid-area: box-4;
}

#box-5 {
    grid-area: box-5;
    
}

#box-6 {
    grid-area: box-6;
}

#container div{
    display: grid;
    justify-content: center;
    align-items: center;
}

img {
    width: 380px;
    height: 230px;
}

/*tablet horizontal*/
@media (max-width: 1325px){
    #container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "box-1 box-2"
                             "box-3 box-4"
                             "box-5 box-6";
        justify-content: space-between;
    }
    
}

/*cerular*/
@media (max-width: 650px){
    #container {
        grid-template-columns: 1fr;
        grid-template-areas: "box-1"
                             "box-2"
                             "box-3"
                             "box-4"
                             "box-5"
                             "box-6";
        justify-content: space-between;
    }
    h1 {
        color: white;
        background-color: rgb(41, 41, 41);
        font-size:30px;
        text-align: center;
        border:4px solid white;
        border-radius: 9px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        font-family: sans-serif;
        }
}
